<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>主页</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link href="static/css/index.css" rel="stylesheet" type="text/css" />
    <style>
        .main{
            margin-top: 50px;
        }
        body{
            background: url("static/images/lg-backg.jpg")
        }
    </style>
</head>

<body>
    <div class="container main">
        <table class="table table-bordered" id="wp">
            <script id="tpl" type="text/html">
                <tr>
                    <th>IP</th>
                    <th>用户名</th>
                    <th>备注</th>
                    <th>所属项目</th>
                    <th>操作</th>
                </tr>
                <%for(var i in items){%>
                    <tr>
                        <td><%=items[i].name%></td>
                        <td><%=items[i].val%></td>
                        <td></td>
                        <td>
                            <span class="test" ip="<%=items[i].name%>">查看详情</span>
                        </td>
                    </tr>
                <%}%>
            </script>
        </table>
    </div>
   
    <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/template.js"></script>
    <script>
        function login(){
            if($('#user').val() && $('#pwa').val()){
                var data = {
                    user: $('#user').val(),
                    pwa: $('#pwa').val()
                };
                $.ajax({
                    url:"login",
                    type:"post",
                    data: data,
                    contentType:"application/json;charset=utf-8",
                    success:function(data){
                        alert(data);
                    }
                });
            }
        };

        $(document).ready(function(){
            $(".test").click(function($event){
                console.log($(this).context.attributes.ip.value)
            });
        });

        var data={
            items:[{'name':'名字一','val':'数据一'},
            {'name':'名字二','val':'数据二'},
            {'name':'名字三','val':'数据三'},
            {'name':'名字四','val':'数据四'}
            ]
        };
        var html = template(document.getElementById('tpl').innerHTML,data);
        document.getElementById('wp').innerHTML = html;
    </script>
</body>
</html>
